label {
  position: relative;
  text-transform: capitalize;

  &.full {
    display: block;
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #333333;
    transition: width ease-in-out 0.2s;
  }

  &:focus-within {
    &:after {
      width: 100%;
    }
  }

  & > input {
    &.full {
      display: block;
      width: 100%;
      background-color: #eaeaea;
      padding: 8px;
      font-size: 1em;
      outline: none;
      border: transparent;
      color: #333333;
    }
    &:focus {
      background-color: #f5f5f5;
    }
  }

  & > textarea {
    &.full {
      display: block;
      width: 100%;
      background-color: #eaeaea;
      padding: 8px;
      font-size: 1em;
      outline: none;
      border: transparent;
      color: #333333;
      resize: vertical;
      min-height: 80px;
    }
    &:focus {
      background-color: #f5f5f5;
    }
  }
}
