button {
  position: relative;
  padding: 14px 18px;
  font-size: 1em;
  color: #333333;
  background-color: #ffffff;
  border: transparent;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #333333;
    transition: width ease-in-out 0.2s;
  }

  &:hover {
    background-color: #f0f0f0;
    &:after {
      width: 100%;
    }
  }
}
